body {
    background-color: lavender;
    
}

@media (min-width:576px) {
    
    body {
        background-color: aqua;
    }
}

@media (min-width:768px) {
    
    body {
        background-color: red;
    }
}

@media (min-width:992px) {
    
    body {
        background-color: orange;
    }
}

@media (min-width:1200px) {
    
    body {
        background-color: pink;
    }
}
