


@media (min-width: 992px) {
    figure {
      
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    figure {
       
        width: 50%;
    }
}



@media (max-width: 768px) {
    figure {
        width: 100%;
    }
}
